@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600&subset=cyrillic");
$tablet-width: 768px;
$desktop-width: 1024px;
$content-max-width: 720px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html,
body,
header,
footer,
article,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #000;
  position: relative;
  h1 {
    background: url(/assets/images/rockstar-website-header-logo-600px.png);
    background-size: 396px 69px;
    background-repeat: no-repeat;
    font-size: 0;
    width: 396px;
    height: 69px;
    display: inline-block;
    background-position: top center;
    margin: 16px;
  }
  h2 {
    position: absolute;
    right: 16px;
    bottom: 32px;
    font-weight: 200;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: #ccc;
  }
  nav {
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 45%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 1)),
      color-stop(45%, rgba(36, 36, 36, 1)),
      color-stop(100%, rgba(19, 19, 19, 1))
    );
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 45%, rgba(19, 19, 19, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 45%, rgba(19, 19, 19, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 45%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 45%, rgba(19, 19, 19, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    ul {
      max-width: $content-max-width;
      margin: 0px auto;
      li {
        display: inline-block;
        list-style: none;
        border-right: 2px solid #000;
        border-left: 2px solid #000;
        a {
          display: block;
          padding: 12px 12px 8px 12px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
        a:hover {
          background: rgba(48, 48, 48, 1);
          background: -moz-linear-gradient(
            top,
            rgba(48, 48, 48, 1) 0%,
            rgba(84, 82, 84, 1) 45%,
            rgba(54, 53, 54, 1) 100%
          );
          background: -webkit-gradient(
            left top,
            left bottom,
            color-stop(0%, rgba(48, 48, 48, 1)),
            color-stop(45%, rgba(84, 82, 84, 1)),
            color-stop(100%, rgba(54, 53, 54, 1))
          );
          background: -webkit-linear-gradient(
            top,
            rgba(48, 48, 48, 1) 0%,
            rgba(84, 82, 84, 1) 45%,
            rgba(54, 53, 54, 1) 100%
          );
          background: -o-linear-gradient(
            top,
            rgba(48, 48, 48, 1) 0%,
            rgba(84, 82, 84, 1) 45%,
            rgba(54, 53, 54, 1) 100%
          );
          background: -ms-linear-gradient(
            top,
            rgba(48, 48, 48, 1) 0%,
            rgba(84, 82, 84, 1) 45%,
            rgba(54, 53, 54, 1) 100%
          );
          background: linear-gradient(
            to bottom,
            rgba(48, 48, 48, 1) 0%,
            rgba(84, 82, 84, 1) 45%,
            rgba(54, 53, 54, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#363536', GradientType=0);
        }
      }
    }
  }
}

footer {
  margin: 16px auto;
  text-align: center;
  padding: 8px;
  background-color: #000;
  border-top: 1px solid #222;
  font-size: 0.875em;
  color: #666;
  max-width: $content-max-width;
  a {
    color: #666;
  }
}

main {
  font-family: "Source Sans Pro", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  max-width: $content-max-width;
  margin: 10px auto;
  background-color: #111;
  box-sizing: border-box;
  padding: 10px 32px;
  pre {
    margin: 8px;
    border: 1px solid #000;
    padding: 8px;
    background: #000;
    overflow-y: auto;
    code {
      border: 0;
      margin: 0;
      display: inline;
    }
  }
  a {
    color: #fc0;
  }
  code {
    font-family: Consolas, Courier, monospace;
  }
  p code,
  li code {
    color: #ff0;
  }
  & > ul {
    margin-left: 32px;
    li {
      margin-bottom: 6px;
      & > ul {
        padding-left: 32px;
      }
    }
  }
  p {
    text-align: justify;
  }
  p,
  li {
    line-height: 1.6em;
  }
  p {
    img {
      max-width: 100%;
    }
  }
  div#wallpaper-gallery {
    width: 100%;
    img {
      border: 1px solid #666;
      margin: 16px auto;
      display: block;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    h1 {
      display: block;
      width: auto;
      height: 42px;
      background: url(/assets/images/rockstar-website-header-logo-400px.png);
      background-size: 240px auto;
      background-repeat: no-repeat;
      font-size: 0;
      display: block;
      background-position: top left;
      margin: 8px;
      box-sizing: border-box;
    }
    h2 {
      position: relative;
      right: 0px;
      bottom: 0px;
      margin: 8px;
      font-size: 100%;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 620px) {
  div#wallpaper-gallery {
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 440px) {
  header {
    nav {
      border-top: 0px;
      border-bottom: 0px;
      ul {
        li {
          display: block;
          border-top: 2px solid #333;
          border-bottom: 2px solid #000;
          border-left: 0px;
          border-right: 0px;
        }
      }
    }
  }
}

div#interpreter {
  textarea {
    width: 100%;
    height: 200px;
    font-family: Consolas, "Courier New", Courier, monospace;
    line-height: 1.2em;
    padding: 8px;
    box-sizing: border-box;
    font-size: 0.9em;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    &.running {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(/assets/images/ajax-loader.gif);
    }
    &#program-input { 
      height: 60px;
    }

  }
}

input[type="button"] {
  background-color: #600;
  color: #fff;
  font-weight: bold;
  border: 3px solid #000;
  font-size: 140%;
  border-radius: 8px;
  margin: 8px auto;
  &:disabled {
    color: #ccc;
    background-color: #333;
  }
}
